NodeRED_chirpWebAPI.json
[{"id":"9edd2fc3.91c558","type":"tab","label":"Chrip.io WebAPI","disabled":false,"info":""},{"id":"3139c9d6.39cd8e","type":"inject","z":"9edd2fc3.91c558","name":"","topic":"","payload":"abcdef","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":80,"wires":[["4022063e.599468"]]},{"id":"5dfa0f65.30f96","type":"http request","z":"9edd2fc3.91c558","name":"リクエスト(要basic認証設定)","method":"GET","ret":"bin","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":750,"y":80,"wires":[["4b9a9947.23f998","d1e22466.a73668"]]},{"id":"4b9a9947.23f998","type":"debug","z":"9edd2fc3.91c558","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":140,"wires":[]},{"id":"9a7217a8.75436","type":"change","z":"9edd2fc3.91c558","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"accept\":\"application/json\"}","tot":"json"},{"t":"set","p":"url","pt":"msg","to":"https://audio.chirp.io/v3/16khz-mono/MESS","tot":"str"},{"t":"change","p":"url","pt":"msg","from":"MESS","fromt":"str","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":80,"wires":[["2fe8066a.d29e0a","5dfa0f65.30f96"]]},{"id":"2fe8066a.d29e0a","type":"debug","z":"9edd2fc3.91c558","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":140,"wires":[]},{"id":"4022063e.599468","type":"function","z":"9edd2fc3.91c558","name":"trans2hex","func":"let sin = new Buffer(msg.payload);\nmsg.payload = sin.toString('hex');\n\nreturn msg;\n","outputs":1,"noerr":0,"x":300,"y":80,"wires":[["9a7217a8.75436"]]},{"id":"d1e22466.a73668","type":"play audio","z":"9edd2fc3.91c558","name":"","voice":"","x":990,"y":80,"wires":[]}]